@import "fonts";

html {
  @apply bg-gray-800;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.nuxt-content {
  @apply font-copy;
  h1 {
    @apply text-2xl;
    @apply md:text-4xl mb-2 mt-8;
    &:first-child {
      @apply mt-0;
    }
    @apply font-fancy;
  }
  h2 {
    @apply text-xl;
    @apply md:text-3xl mb-2 mt-8;
    &:first-child {
      @apply mt-0;
    }
    @apply font-fancy;
  }
  h3 {
    @apply text-sm md:text-base tracking-wide uppercase font-semibold mt-4;

  }
  p, ul, ol, blockquote {
    @apply mb-2;
  }
  ul {
    @apply list-disc;
    @apply pl-4;
  }
  ol {
    @apply list-decimal;
    @apply pl-4;
  }
  a {
    @apply underline;
    &.footnote-backref {
      text-decoration: none;
    }
  }
  .footnotes {
    @apply mt-4;
    hr {
      @apply mb-4;
    }
  }
}

@screen md {
  .columns-2 {
    columns: 2;
  }
}

.has-fixed-may-transform {
  // this has strange side-effects; required for indivudal episodes, but breaks
  // pager on paginated episode pages
  // transform: translate3d(0, 0, 0);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.17s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}

$slvt: 0.33s;

.slide-bottom-leave-active, .slide-top-leave-active {
  &.absolute-on-leave, .absolute-on-leave {
    width: 100%;
    position: absolute;
  }
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity $slvt ease-in-out, transform $slvt ease-in-out;
  .transitionable, &.transitionable {
    transition: opacity $slvt ease-in-out, transform $slvt ease-in-out;
  }

}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  .transitionable, &.transitionable {
    transform: translate3d(0, 15px, 0);
  }
}

.slide-top-enter-active,
.slide-top-leave-active {
  transition: opacity $slvt ease-in-out, transform $slvt ease-in-out;
  .transitionable, &.transitionable {
    transition: opacity $slvt ease-in-out, transform $slvt ease-in-out;
  }
}
.slide-top-enter,
.slide-top-leave-to {
  opacity: 0;
  .transitionable, &.transitionable {
    transform: translate3d(0, -15px, 0);
  }
}

$lrt1: 0.15s;
$lrt2: 0.33s;
$lrw: 10vw;

.slide-left-enter-active  {
  transition: opacity $lrt2 ease-out, transform $lrt1 ease-out;
  &.transitionable, .transitionable, .overlayable {
    transition: opacity $lrt1 ease-out, transform $lrt2 ease-out;
  }
}

.slide-left-leave-active {
  transition: opacity $lrt2 ease-in, transform $lrt1 ease-in;
  &.absolute-on-leave, .absolute-on-leave {
    width: 100%;
    position: absolute;
  }
  .hide-on-leave {
    opacity: 0;
  }
  &.transitionable, .transitionable, .overlayable {
    transition: opacity $lrt1 ease-in, transform $lrt2 ease-in;
  }
}

.slide-left-enter,
.slide-left-leave-to {
  opacity: 0.80;
  &.transitionable, .transitionable, .overlayable {
    opacity: 0;
  }
}

.slide-left-enter {
  &.transitionable, .transitionable {
    transform: translate3d(-$lrw, 0, 0);
  }
}
.slide-left-leave-to {
  &.transitionable, .transitionable {
    transform: translate3d($lrw, 0, 0);
  }
}
.slide-right-enter-active  {
  transition: opacity $lrt2 ease-out, transform $lrt1 ease-out;
  &.transitionable, .transitionable, .overlayable {
    transition: opacity $lrt1 ease-out, transform $lrt2 ease-out;
  }
}

.slide-right-leave-active {
  transition: opacity $lrt2 ease-in, transform $lrt1 ease-in;
  &.absolute-on-leave, .absolute-on-leave {
    width: 100%;
    position: absolute;
  }
  .hide-on-leave {
    opacity: 0;
  }
  &.transitionable, .transitionable, .overlayable {
    transition: opacity $lrt1 ease-in, transform $lrt2 ease-in;
  }
}

.slide-right-enter,
.slide-right-leave-to {
  opacity: 0.80;
  &.transitionable, .transitionable, .overlayable {
    opacity: 0;
  }
}

.slide-right-enter {
  &.transitionable, .transitionable {
    transform: translate3d($lrw, 0, 0);
  }
}
.slide-right-leave-to {
  &.transitionable, .transitionable {
    transform: translate3d(-$lrw, 0, 0);
  }
}
.bounce-enter-active {
  transform-origin: top;
  animation: bounce-in 0.8s;
}
.bounce-leave-active {
  transform-origin: top;
  animation: bounce-out 0.5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0);
  }
}

input {
  @apply focus:outline-none focus:ring-yellow-400 focus:ring-2 focus:border-transparent;;
}
a {
  // @apply focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent;
  @apply focus:outline-none focus-visible:ring-yellow-400 focus-visible:ring-2 focus:border-transparent;;
  &.row {
    @apply focus-visible:bg-yellow-600 focus-visible:text-white focus:ring-0;
  }
}

.indeterminate-progress {
  // &:before {
    // background-color: #3f51b5;
    content: '';
    // -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  // }
}
// @-webkit-keyframes running-progress {
//   0% { margin-left: 0px; margin-right: 100%; }
//   50% { margin-left: 25%; margin-right: 0%; }
//   100% { margin-left: 100%; margin-right: 0; }
// }
@keyframes running-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}

.gradient-gray {
  background: linear-gradient(
    135deg,
    rgba(223, 225, 230, 1) 0%,
    rgba(229, 231, 235, 1) 100%
  );
}
// .font-fancy {
//   font-family: 'IM Fell Great Primer', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
// }

input.bot {
  display: none;
}

label.iftal.contact {
  width: 100%;
  --label-font-size: 0.9;
  & > span {
    font-weight: bold;
  }
  & > input {
    @apply bg-gray-100;
  }
}

label.iftal.contact.textarea {
  & > textarea {
    @apply bg-gray-100;
  }
  & > span:first-child {
    @apply bg-gray-100;
  }
}
